html,body {
	height: 100%;
}

body {
	padding: 70px 0 40px 0;
	color: #555;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "宋体", \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	color: #333;
	font-weight: normal;
}

p {
	margin: 0;
}

a {
	color: #555;
}

td {
	padding: 8px 20px !important;
}

#wrap {
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
	width: 1100px;
}

#attr p {
	font-size: 15px;
}

#search_text {
	width: 190px;
	border: 1px solid !important;
	border-color: #ddd !important;
}

#search_text:focus {
	border-color: #18bc9c !important;
}

#search_button {
	padding: 8px 20px !important;
}

.copyright {
	width: 100%;
	height: 40px;
	background-color: #eee;
	line-height: 40px;
	vertical-align: middle;
}